.email-signup {
	padding: 2rem 0;
	@include bg-image-settings;
	background-image: url(../images/bg-oprah-feature.jpg);
	background-position: center top;

	@include media-breakpoint-up(lg) {		
		padding: 4rem 0;
	}

	&.practitioner {
		background-size: 20%;
		background-repeat: repeat;		
		background-position: top left;
		background-image: url('../images/bg-pattern-wave--white.gif');
		border-top: solid 10px $brand-orange-light;
		border-bottom: solid 10px $brand-orange-light;
	}

	.email-signup--outer-column {
		background-color: rgba( $white, .9 );
	}

	.email-signup--content {
		padding: 3rem 0;		
	}

}