.faq-block {
	padding: 2rem 0;
	@include bg-image-settings;
	background-image: url(../images/bg-faq-block.jpg);
	background-position: center bottom;

	@include media-breakpoint-up(lg) {		
		padding: 4rem 0;
	}	

	p {
		margin: .5rem 0 1.5rem;
	}

}

.faq-block--outer-column {
	background-color: rgba( $white, .9 );
}

.faq-block--content {
	padding: 1rem 0 2rem;
}