.site-footer {
	color: $white;

	p,
	ul,
	address {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	a {
		color: $white;
	}

}

.site-footer--main {
	padding: 2rem 0 1rem;
	background-image: url('../images/bg-pattern-wave--red.gif');

	@include media-breakpoint-up(lg) {
		padding: 4rem 0;
	}

	p,
	address {
		@include font-size(15,15);		
	}

	address {
		@include media-breakpoint-down(md) {
			padding: 1rem 0;
		}
	}

	.footer-menu li {
		margin-bottom: 1rem;
		@include font-size(14,20);		

		&:nth-first-of-type {
			margin: 0;
		}

	}

	.footer-menu a {
		font-weight: 700;
		text-decoration: none;
		@include font-size(14,14);

		&:hover,
		&:focus {
			color: $brand-orange-light;
		}

	}

	.sub-menu {
		margin-top: 1.5rem;

		@include media-breakpoint-down(md) {
			display: none;
		}

	}

	.sub-menu a {
		font-weight: 400;
	}

}

.site-footer--address {
	padding-bottom: 3rem;
}

.site-footer--main-social {

	a {
		width: 25px;
		height: 25px;
		line-height: 28px;	
		margin-left: .5rem;	
		border-radius: 100%;				
		text-align: center;
		color: $brand-red;
		display: inline-block;		
		vertical-align: middle;		
		background-color: $white;

		&:hover,
		&:focus {
			background-color: $brand-orange-light;
		}

	}

}

.site-footer--sub {
	padding: 2rem 0;
	background-color: $brand-red-dark;

	p, a, li {
		@include font-size(14,14);
	}

	p.copyright {
		@include font-size(15,35);
	}

	a {
		text-decoration: none;

		&:hover,
		&:focus {
			color: $brand-orange-light			
		}

	}

}