.search-form {

	label {
		display: none;
	}

	.input-group-btn .btn {
		height: 45px;
		border: solid 1px $border-color;
		border-left: 0;
	}

}

.gform_button {
	border: none;

	padding: 15px 30px;
	display: inline-block;
	text-transform: uppercase;

	&.button {

		&:hover,
		&:focus {
			cursor: pointer;
			color: $brand-primary;
		}

	}

}

.gform_wrapper {
	margin: 0 !important;

	// basic gravity form styling
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			text-align: left;
			margin-bottom: 14px;
		}

	}

	label.gfield_label {
		//display: none !important;
	}

	input[type=text],
	input[type=email],
	input[type=tel],
	textarea,
	.form-control,
	.StripeElement { // default wordpress form field class
		width: 100%;
		padding: 15px;
		@include font-size(14);
		font-weight: 400;
		background-color: $input-background-color;
		border: none;
		@include transition( border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s );
		&:focus {
			outline: none;
			border-color: $border-color;
			box-shadow: inset 0 1px 1px rgba(#777, 0.075), 0 0 8px rgba(#777, 0.4);
		}
	}

	input[type=text],
	input[type=email],
	input[type=tel],
	.form-control,
	.StripeElement {
		height: 45px;
		display: block;
	}

	textarea {
		height: 267px;
	}

	.top_label input.medium,
	.top_label select.medium {
		width: 100%;
	}

	.ginput_container_select {
		width: 100%;
		display: inline-block;
		position: relative;
		border: none;

		@media screen and ( min-width: 657px ) and ( max-width: 767px ) {
			margin: 0 2px;
		}

		&:before,
		&:after {
			content: "";
			position: absolute;
			pointer-events: none;
		}

		&:before {
			width: 2.25em;
			height: 100%;
			top: 0;
			right: 0;
		}

		&:after {
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-top: 6px solid $border-color;
			right: .75em;
			top: 50%;
			margin-top: -3px;
		}

		select {
			background-color: $white;
		}

		select::-ms-expand { display: none; } /* bonus: target IE10 */
	}

	.address_state {
		width: 100%;
		position: relative;
		display: inline-block;

		&:before,
		&:after {
			content: "";
			position: absolute;
			pointer-events: none;
		}

		&:before {
			width: 2.25em;
			height: 100%;
			top: 0;
			right: 0;
		}

		&:after {
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-top: 6px solid $border-color;
			right: 1.25em;
			top: 30%;
			margin-top: -3px;
		}		
		select::-ms-expand { display: none; } /* bonus: target IE10 */
	}

	.ginput_container_select select,
	.address_state select {
		width: 100%;
		height: 45px;
		border-radius: 0;		
		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 0.01px;
		text-overflow: '';
		box-shadow: none;
		border: none;
		outline: none;
		margin: 0;
		padding-left: 10px;
		@include transition( border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s );

		&:focus {
			outline: none;
			border-color: $border-color;
			box-shadow: inset 0 1px 1px rgba(#777, 0.075), 0 0 8px rgba(#777, 0.6);
		}
		
		&:hover {
			cursor: pointer;
		}
	}	

	.address_state select {
		position: relative;
		background-color: $input-background-color;
		border: solid 1px $border-color;		
	}	

	//message styling
	div.validation_error {
		border: none !important;
		color: $white !important;
		background-color: $error !important;
	}

	.gfield_required,
	.validation_message,
	.gfield_error .gfield_label {
		color: $error !important;
	}

	li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
	li.gfield_error textarea {
		border: solid 1px $error !important;
	}	

	.validation_error {
		padding-bottom: 20px;
	}

	.top_label input.medium,
	.top_label select.medium {
		width: 100% !important;
	}

	li.gfield.gfield_error,
	li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
		margin-top: 0 !important;
		padding: 0 !important;		
		border: none !important;
		background-color: transparent !important;
	}

	div.gfield_description {

		&.validation-message {
			color: $error;
			background-color: transparent !important;
		}
	}

}

.form-control {
	box-shadow: none;
}

.gform_validation_container {
	display: none;
}

.gform_wrapper .soul-healing-event-form {

	input[type=text],
	input[type=email],
	input[type=tel],
	textarea,
	.StripeElement { 
		border: solid 1px $border-color;
	}

	.StripeElement--focus {
		outline: none;
		border-color: $border-color;
		box-shadow: inset 0 1px 1px rgba(#777, 0.075), 0 0 8px rgba(#777, 0.4);
	}

	.ginput_product_price_label {
		font-size: 16px;
	}

	input.ginput_product_price {
		padding: 0 !important;

		&:focus {
			outline: none;
			border-color: transparent;
			box-shadow: none;
		//box-shadow: inset 0 1px 1px rgba(#777, 0.075), 0 0 8px rgba(#777, 0.4);			
		}

	}

}

// Footer Sign Up Form
.gform_wrapper.gravity-theme .email-signup-short {
	position: relative;

	input[type="email"] {
		border: none;
		background-color: $brand-orange-light-alpha;
	}

	@include media-breakpoint-down(lg) {

		.ginput_recaptcha > div {
			margin: 0 auto;
		}

	}

	.gform_footer {
		right: 0;
		bottom: 2rem;
		
		@media screen and ( min-width: 1200px ) {
			margin: 0;
			padding: 0;			
			position: absolute;
    		bottom: -0.35rem;
    		right: 0.18rem;			

			.button {
				width: auto;
			}

		}

	}

}

// Default GF Styles Overrides
.gform_legacy_markup_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {
	padding-right: 0 !important;
}

.gform_wrapper .gfield_validation_message,
.gform_wrapper .validation_message,
.gform_wrapper .gform_validation_errors {
	border: 0 !important;
	padding: .5rem !important;
	color: $white !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	background-color: $error !important;
}

.gform_wrapper .gform_validation_errors {
	padding-left: 3rem !important;
}

.gform_wrapper .gform_submission_error {
	color: $white !important;
	font-family: $font-family-nunito;
}

.gform_wrapper .gfield_error [aria-invalid="true"] {
	border-color: $error !important;
}

.gform_wrapper .gfield_validation_message,
.gform_wrapper .validation_message {
	margin: 0 !important;
	font-size: 13px !important;
}

.gform_legacy_markup_wrapper .field_description_below .gfield_description {
	padding-top: 0 !important;
	font-weight: 400 !important;
}

.gform_wrapper .gfield_required,
.gform_wrapper.gravity-theme .gfield_contains_required.hidden_label .gfield_label, 
.gform_wrapper.gravity-theme .gform_fields.left_label .gfield_contains_required.hidden_label legend.gfield_label, 
.gform_wrapper.gravity-theme .gform_fields.right_label .gfield_contains_required.hidden_label legend.gfield_label {
	display: none !important;
}

.gform_wrapper form.gf_simple_horizontal div.gform_body {
	max-width: none !important;
}
.gform_wrapper li.hidden_label input {
	margin-top: 0 !important;
}
body .gform_wrapper .top_label div.ginput_container {
	margin-top: 0 !important;
}
.gform_wrapper input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]):not(.ginput_product_price) {
	padding: 0 15px !important;
	font-size: 16px !important;
}
.gform_wrapper ul.gform_fields li.gfield {
	padding-right: 0 !important;
}
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield div.ginput_complex span.ginput_left select, .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield div.ginput_complex span.ginput_right select, .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield input[type=radio], .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select {
	margin-left: 0 !important;
}
.gform_wrapper.gf_browser_chrome .ginput_complex .ginput_right select, .gform_wrapper.gf_browser_chrome .ginput_complex select {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.gform_wrapper.gf_browser_chrome select {
	padding: 0 0 0 10px !important;
}
