.site-notification {

	p:last-of-type {
		margin-bottom: 0;
	}

}

.site-header--booking {
	padding: .75rem 0;
	background-color: $brand-primary;

	p, a {
		margin: 0;
		color: $white;
		@include font-size(14,14);
	}

	a {
		margin-left: .75rem;
		display: inline-block;
	}

}

.navbar {
	padding: 1rem 0;
}

.navbar-brand {
	margin: 0;
	padding: 0;
}

.navbar-collapse {

	@include media-breakpoint-down(lg) {	
		position: absolute;
		top: 96px;		
		z-index: 9;
		background: $white;
		width: 100%;	
		@include box-shadow(0, 6px, 3px, 0, rgba($black, .28));		
	}

	@media screen and ( max-width: 574px ) {
		top: 92px;
	}

}

.navbar-light {

	.site-logo,
	.site-logo img {
		width: 225px;
		height: 50px;

		@include media-breakpoint-up(sm) {
			width: 400px;
			height: 54px;
		}

		@include media-breakpoint-up(xl) {
			width: 500px;
			height: 67px;
		}

	}

	.navbar-nav {

		> li {
			@include media-breakpoint-up(xl) {
				margin-left: .75rem;						
			}

			@include media-breakpoint-up(xl) {
				//margin-left: 2rem;
			}			

			@media screen and ( min-width: 1313px ) {
				margin-left: 2rem;
			}

		}

		@include media-breakpoint-up(xl) {
			margin-top: 1rem;

			> li {
				position: relative;

				&::before {
					content: '';
					@include center-element(y);
					left: 0;
					z-index: 0;					
					width: 29px;
					height: 22px;
					background-repeat: no-repeat;
					background-size: 29px 22px;
					background-position: 0 -22px;
					background-image: url('../images/bg-top-nav-hover-egg.svg');
				}

				&:hover,
				&:focus,
				&.current-menu-item,
				&.current-menu-parent,
				&.current_page_parent {
						
					&::before {
						background-position: 0 0;
					}

				}

				&.current-menu-item,
				&.current-menu-parent,
				&.current_page_parent {

					.nav-link {
						font-weight: 700;
					}

				}

			}

		}

		.nav-link {
			position: relative;
			@include font-size(15,18);
			text-decoration: none;			
			color: $brand-blue-light;

			&:hover,
			&:focus, {
				color: $brand-blue-light;
			}

			@include media-breakpoint-down(lg) {
				text-align: center;

				&::after {
					content: '';
					width: 90%;
					height: 1px;
					background-color: $gray-light;

					@include center-element(x);
					bottom: 0;
				}

				&:hover,
				&:focus {
					color: $white;
					background-color: $brand-primary;
	   				-moz-box-shadow:    inset 0 2px 4px rgba($black, .22);
	   				-webkit-box-shadow: inset 0 2px 4px rgba($black, .22);
	   				box-shadow:         inset 0 2px 4px rgba($black, .22);	

	   				&::after {
	   					display: none;
	   				}

				}				

			}

		}

	}

	.navbar-toggler {
		outline: 0;		
		width: 30px;
		height: 20px;		
		padding: 0;		
		margin: .5rem 3rem 0 0;
		border: none;
		border-color: transparent;
		position: relative;
		cursor: pointer;	
		background: transparent;	

		span.menu-text {
			display: block;
			color: $font-color;
			font-weight: 400;
			@include font-size(14,14);			
			margin: 0 0 .25rem 2.25rem;
		}

		span:not(.menu-text) {
			display: block;
			position: absolute;
			height: 3px;
			width: 100%;
			left: 0;
			background-color: $brand-primary;

			transform: rotate(0deg);
			transition: .2s ease-in-out;	

			&:nth-child(1) {
				top: 0px;
			}

			&:nth-child(2),
			&:nth-child(3) {
		  		top: 7px;
			}

			&:nth-child(4) {
				top: 14px;
			}

		}

		&.open {

			span:nth-child(1) {
				top: 7px;
				width: 0%;
				left: 50%;
			}

			span:nth-child(2) {
				transform: rotate(45deg);
			}			

			span:nth-child(3) {
				transform: rotate(-45deg);
			}			

			span:nth-child(4) {
	  			top: 7px;
	  			width: 0%;
	  			left: 50%;
			}

		}

	}	
	
}

// fix weird 'current page' menu bug on singles and error page
.single-service .navbar-light .navbar-nav > li#menu-item-5122.current_page_parent,
.single-soul_healing_event .navbar-light .navbar-nav > li#menu-item-5122.current_page_parent,
.error404 .navbar-light .navbar-nav > li.current_page_parent {

	&::before {
		background-position: 0 -22px;
	}

	&:hover,
	&:focus {
			
		&::before {
			background-position: 0 0;
		}

	}

	a {
		font-weight: 400;
	}
	
}

// Menu dropdown styles

.dropdown-item:first-child,
.dropdown-item:last-child {
	border-radius: 0;
}

// enable dropdown display on hover if option is enabled in starter theme
// will always default to "hover"
.navbar.hover .dropdown:hover .dropdown-menu {
	display: block;

	@include media-breakpoint-down(lg) {
		//display: none;
	}

}

.navbar-expand-xl .navbar-nav {

	.dropdown-menu {
		margin: 0;
		padding: 0;		
		border: none;
		border-radius: 0;
		@include clearfix;
		background: $white;
		max-width: 5rem;
		left: auto;
		right: 0;

		@include media-breakpoint-up(xl) {
			@include box-shadow(0, 4px, 6px, 0, rgba($black, .28));
		}

		@include media-breakpoint-down(lg) {
			display: none;
		}

		a:not(:last-of-type) {
			position: relative;

			@include media-breakpoint-up(xl) {
				&::after {
					content: '';
					width: 90%;
					height: 1px;
					background-color: $gray-light;

					@include center-element(x);
					bottom: 0;
				}
			}

		}

		.dropdown-item {
			border-radius: 0;			
			color: $font-color;	
			white-space: normal;		
			text-decoration: none;	
			@include font-size(15,18);	

			&:hover,
			&:focus,
			&.dropdown-item.active,
			&.dropdown-item:active {
				color: $white;
				background-color: $brand-primary;
   				-moz-box-shadow:    inset 0 2px 4px rgba($black, .22);
   				-webkit-box-shadow: inset 0 2px 4px rgba($black, .22);
   				box-shadow:         inset 0 2px 4px rgba($black, .22);			

   				&::after {
   					background-color: $brand-primary;
   				}

			}

			@include media-breakpoint-up(xl) {
				padding: 1rem;
				@include font-size(14,18);
			}

			@include media-breakpoint-down(lg) {
				text-align: center;
				padding: .5rem 1rem;

				&::after {
					content: '';
					width: 90%;
					height: 1px;
					border-top: none;
					background-color: $gray-light;

					@include center-element(x);
					bottom: 0;					
				}

			}

		}		

	}

	.dropdown-toggle.nav-link::after {
		border-top-color: $brand-primary;

		// change arrow on large view to underline/bottom border on mobile menu
		@include media-breakpoint-down(lg) {
			content: '';
			width: 90%;
			height: 1px;
			border-top: none;
			background-color: $gray-light;

			@include center-element(x);
			bottom: 0;
		}

	}	

	.dropdown-menu .dropdown-menu { // Past Life Regression submenu
		position: relative;
		display: block;
		top: auto;
		left: auto;
		box-shadow: none;

		a {
			position: relative;

			@include media-breakpoint-up(xl) {
				&::after {
					content: '';
					width: 90%;
					height: 1px;
					background-color: $gray-light;

					@include center-element(x);
					bottom: 0;
				}
			}			
		}

	}

	// Show/hide fixes for mobile menu 

	@include media-breakpoint-down(lg) {

		.dropdown-menu {
			display: block;				
			width: 100%;
			min-width: 100%;
		}


		.menu-item-5111 { // Sessions submenu

			.dropdown-menu {			
				a:nth-of-type(1),
				a:nth-of-type(7),
				a:nth-of-type(8),
				a:nth-of-type(9) {
					display: none;
				}

			}

		}

		.menu-item-5121 { // Soul Healing Events submenu

			.dropdown-menu {			
				a:nth-of-type(1),
				a:nth-of-type(3) {
					display: none;
				}

			}

		}

		.menu-item-5123,
		.menu-item-5127 { // Practitioners and About submenus

			&.dropdown:hover .dropdown-menu,
			.dropdown-menu {
				display: none;
			}

		}

		.menu-item-5131 { // Contact submenu

			.dropdown-menu {			
				a:nth-of-type(2),
				a:nth-of-type(3) {
					display: none;
				}

			}

		}		

	}

}

.single-soul_healing_event .navbar-expand-xl .navbar-nav > li#menu-item-5121 {

	.nav-link {
		font-weight: 700;
	}

	&::before {
		background-position: 0 0;
	}

	.menu-item-5605 {
		color: $white;
		background-color: $brand-primary;
		-moz-box-shadow:    inset 0 2px 4px rgba($black, .22);
		-webkit-box-shadow: inset 0 2px 4px rgba($black, .22);
		box-shadow:         inset 0 2px 4px rgba($black, .22);			

		&::after {
			background-color: $brand-primary;
		}		
	}

}