.oprah-feature {
	padding: 2rem 0;

	p {
		@include font-size(18,28);
	}

	@include media-breakpoint-up(sm) {
		background-image: url('../images/bg-email-signup--right.jpg');
		background-position: right top;	
		background-repeat: no-repeat, no-repeat;	
		background-size: contain, contain;
	}

	@include media-breakpoint-up(lg) {		
		padding: 4rem 0;
		background-image: url('../images/bg-email-signup--left_new.jpg'), url('../images/bg-email-signup--right.jpg');
		background-position: right top;
		background-position: left bottom, right top;		
	}

}

.oprah-feature--content {
	padding: 3rem 0 2rem;

	h6 {
		margin: 3rem 0 0;
		letter-spacing: .1rem;
		@include font-size(14,24);		
		text-transform: uppercase;		
		font-family: $font-family-nunito;		
	}

	img {
		display: inline-block;
		margin: 1rem;
	}

}

.press-logo-container {
	padding-top: 1rem;
	padding-bottom: 1rem;
	//background-color: rgba($white, .55);
}