.rates-cta-section {
	position: relative;	
	padding: 2rem 0;

	@include media-breakpoint-up(lg) {
		padding: 8rem 0;
	}

	@include media-breakpoint-down(md) {

		img {
			width: 70%;
			margin-top: 3rem;			
			border: solid 1px $white;
		}

	}

}

.rates-cta--content {

	@include media-breakpoint-up(lg) {
		position: relative;
		z-index: 1;
	}

}

.rates-cta--image {

	@include media-breakpoint-up(lg) {
		@include center-element(y);
		left: 0;
		z-index: 0;
	}

}

.rates-cta--content-inner {
	padding: 3rem;
	background-color: $white;

	h5 {
		font-weight: 400;
		margin-bottom: 1rem;
		letter-spacing: .1rem;
		@include font-size(36,46);
	}

	strong {
		color: $font-color;
	}

	.button {
		margin-top: 1rem;
	}

}