.slick-prev,
.slick-next {
	z-index: 2;
	min-width: auto;

	&::before {
		opacity: 1;
	}

	@media screen and ( max-width: 767px ) {
		display: none !important;
	}

}

.slick-prev {
	left: 10px;
}
.slick-next {
	right: 10px;
}

.testimonial-slider--container {
	padding: 4rem 0;
}

.testimonial-slider {
	color: $white;
	padding: 2rem 0 4rem;
	height: 100% !important;

	.slick-track{
		display: flex;
		
		.slick-slide{
			display: flex;
			height: auto;
			align-items: center; //optional
			justify-content: center; //optional

			> div {
				width: 100%;
			}

		}
	}

	.slide-content {
		position: relative;
		padding-top: 4rem;

		&::before {
			content: '“';
			@include center-element(x);
			top: -1.5rem;

			font-weight: 400;
			letter-spacing: .5rem;
			@include font-size(90,200);
			font-family: $font-family-halant;			
		}

	}

}

.testimonial-large-text {
	@include font-size(30,40);
	font-family: $font-family-halant;	
}
