// Custom Colors
$brand-primary:			#D83100;
$brand-red:				$brand-primary;
$brand-red-dark:		#A92A00;
$brand-red-alpha:		#f4c9bd;

$brand-orange:				$brand-primary;
$brand-orange-mid:			#F67222;
$brand-orange-light:		#F59300;
$brand-orange-light-alpha:	#f9be66;	

$brand-green:			#9CCC8C;
$brand-green-dark:		#7ba46e;
$brand-blue-light:		#2D3E60;
$brand-blue-dark:		#1E2542;

$brand-aqua:			#22D8F6;
$brand-purple:			#301660;

$font-color:			#4D5D69;

$gray-dark:				#979797;
$gray-light:			#D8D8D8;
$gray-shade:			#F4F4F3;

$black:					#000000;
$white:					#ffffff;

$font-family-halant:	'Halant', serif;
$font-family-nunito: 	'Nunito Sans', sans-serif;
$font-family-dancing-script: 'Dancing Script', cursive;

// Form Customization Colors
$danger:					$brand-red-dark;
$error:						$danger;
$success:					$success;
$input-background-color:	$white;