.single-post .jump-link-intro-content img {
	border: solid 5px $brand-orange-light;
}

article.post {
	margin-bottom: 2rem;
	padding-bottom: 1rem;
	//border-bottom: solid 1px $gray-shade;

	.entry-content {

		h2, h3, h4, h5 {
			margin-top: 2rem;
			margin-bottom: 1rem;
			font-weight: 400;
			letter-spacing: normal;
		}

		h2 {
			padding: 0;
			@include font-size(30,40);

			&::before {
				content: '';
				position: relative;
			}
		}

		h3 {
			@include font-size(25,35);
		}

		h4 {
			@include font-size(20,30);
		}

		&.intro {
			padding-left: 3rem;
		}

		img {
			border: solid 5px $brand-orange-light;
		}

		img:not(.img-fluid) {
			height: auto;				
			max-width: 100%;
		}

	}

}

.container--blog-post-rows {
	padding: 2rem 0 0;
	overflow: hidden;	
	position: relative;

	.container {
		z-index: 5;
	}

	@include media-breakpoint-up(lg) {
		padding: 4rem 0 0;

		&::before,
		&::after {
			opacity: .35;
		}

		&::before {
			content: '';
			position: absolute;
			top: 8rem;
			left: -10rem;
			z-index: 1;		
			width: 245px;
			height: 241px;
			background-size: 245px 241px;
			background-repeat: no-repeat;
			background-image: url('../images/accent-flower--blue.svg');
		}

		&::after {
			content: '';
			@include center-element(y);
			right: -10rem;		
			z-index: 1;
			width: 245px;
			height: 241px;
			background-size: 245px 241px;
			background-repeat: no-repeat;
			background-image: url('../images/accent-flower--red.svg');		
		}
		
	}

	h2 {
	    color: $brand-blue-light; 
	    font-weight: 400;
	    letter-spacing: .1rem;
	    @include font-size(36,46);			
		padding-left: 3rem;
		position: relative;
		margin-bottom: 0;	

	    &::before {
	        content: '~';
	        font-weight: 900;	        
	        color: $brand-red;
	        position: absolute;
	        left: 0;
	        top: .1rem;
	    }

	}

	.blog-post-row--content,
	.entry-meta {
		padding-left: 3rem;
	}

	.pagination-links {
		margin-top: 0;
	}

	.related-posts {
		margin-bottom: 5rem;

		.related-posts-list {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}

		li {					
			padding: 2rem 0;
			font-family: $font-family-halant;

			&:not(:last-of-type) {
				border-bottom: solid 1px $gray-shade;
			}

		}

		li h5 {
			@include font-size(25,35);			
		}

		li img {		
			display: inline-block;
			border: solid 5px $brand-orange-light;

			@include media-breakpoint-down(sm) {
				margin-bottom: 1rem;
			}

		}

		li p {
			font-family: $font-family-nunito;			
		}

	}

}

.entry-meta {
	// these were when entry-meta was at top of sintle page, not in header
	//margin-bottom: 3rem;
	//padding-bottom: 1rem;
	//border-bottom: solid 1px $gray-shade;

	&.intro {
		border: none;
		margin-bottom: 0;
	}

	p, a {
		color: $white;
		@include font-size(14);
	}

	a.link--solid {
		color: $white;

		&:hover,
		&:active {
			color: $white;
			text-decoration: underline;
		}

	}

}

.page-numbers {
	display: inline-block;
	margin-right: 5px;
}

.post-navigation {
	text-align: center;
}

.pager {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin: 0;
		padding: 0;
		display: inline-block;

		&:nth-of-type(2) {
			margin-left: 20px;
		}

	}

}