.email-signup-contact {
	padding: 4rem 0;

	h2 {
		color: $white;

		span::before,
		span::after {
			color: $white;
		}

	}

	.intro-content {
		color: $white;
		padding-top: 2rem;
		padding-bottom: 3rem;
	}

	.button,
	button:not(.navbar-toggler):not(.slick-arrow) {
		color: $brand-primary;
		border: solid 1px transparent;
		background-color: $brand-orange-light;

		&:hover,
		&:focus {
			color: $white;
			border-color: $white;
			background-color: $brand-primary;
		}
	}

	.contact-info {

		@include media-breakpoint-down(lg) {
			padding-bottom: 2.5rem;
		}

		a, p, address {
			color: $white;
			text-decoration: none;
		}

		p, address {
			min-height: 30px;
			line-height: 30px;
			margin-bottom: 2rem;
		}

		.contact-info--phone,
		.contact-info--address,
		.contact-info--email {
			padding-left: 3rem;
			background-size: 40px 30px;
			background-repeat: no-repeat;
			background-position: left top;
			background-image: url('../images/icon-contact--phone.svg');
		}

		.contact-info--address {
			background-image: url('../images/icon-contact--address.svg');			
		}

		.contact-info--email {
			background-image: url('../images/icon-contact--email.svg');			
		}

		.contact-info--socials {

			a {
				width: 25px;
				height: 25px;
				line-height: 28px;	
				border-radius: 100%;				
				text-align: center;
				color: $brand-red;
				display: inline-block;		
				vertical-align: middle;		
				background-color: $white;

				&:hover,
				&:focus {
					background-color: $brand-orange-light;
				}

				&:not(:first-of-type) {
					margin-left: .5rem;
				}

			}

		}

	}

}