.page-faqs,
.page-soul-healing-events {

	.page-content--container section:last-of-type::before {
		width: auto;
		height: auto;
		background-image: none;
	}

}

#accordion {
	padding-bottom: 3rem;
}

.faq-item-container {
	padding: 2rem 0;
	border-bottom: solid 2px $gray-light;

	h2 {
		margin: 0;
		font-weight: 500;
		color: $brand-blue-light;
		@include font-size(28,38);

		&:hover,
		&:active {
			cursor: pointer;
		}

		i {
			display: inline-block;
			margin-right: 1rem;
			color: $brand-orange-light;
		}

	}

	.card-body {
		padding-bottom: 0;
	}

}