.page-intro--home {
	position: relative;	
	padding: 4rem 0;
	background-color: $white;

	/*@include media-breakpoint-up(lg) {
		padding: 0;
		// setup a full screen height section, only on lg up		
		height: calc(100vh - 137.5px);

		.logged-in & {
			// add 32px to height for admin bar
			height: calc(100vh - 169.5px);
		}
	}*/	

	@include media-breakpoint-up(lg) {
		padding: 9rem 0 7rem;
	}	

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: repeat;
		background-image: url('../images/bg-pattern-wave--orange.gif');

		@include media-breakpoint-up(lg) {
			width: 50%;
		}

	}

	.container,
	.row {
		height: 100%;
		position: relative;
	}

	.content-column {
		z-index: 1;
	}

	.hero-image {
		padding-top: 2rem;

		@include media-breakpoint-only(md) {
			img {
				max-width: 70%;
			}
		}

		@include media-breakpoint-up(lg) {
			padding-top: 0;
			position: absolute;
			right: 2rem;

			img {
				max-width: 100%;
			}
		}

		@include media-breakpoint-up(md) {
			&::before {
				content: '';
				position: absolute;
				z-index: 1;
				top: -4rem;
				right: 0;
				width: 135px;
				height: 133px;
				background-size: 135px 133px;
				background-repeat: no-repeat;
				background-image: url('../images/accent-flower--red.svg');
			}
		}

	}


	@keyframes move_up_down {
		0%, 100% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(-.5rem);
		}
	}

	.link-skip-arrow {
		color: $brand-blue-dark;
		@include font-size(30,30);
		@include center-element(x);
		bottom: 1rem;

		animation: move_up_down 1.5s ease-out infinite;		
	}

}

.page-intro--home-content {
	position: relative;
	background-color: $white;
	padding: 2rem;

	@include media-breakpoint-up(xl) {
		padding: 2rem 5rem 2rem 3rem;
	}

	.button {
		margin-top: 1rem;
	}

	.welcome-text {
		position: absolute;
		right: -4rem;
		top: -5rem;
		z-index: 1;
		transform: rotate(-6deg);

		@include font-size(85);
		font-family: $font-family-dancing-script;

		@include media-breakpoint-up(xl) {
			top: -7rem;
		}

	}
	
}

.service-grid--home {
	padding: 2rem 0 1rem;
	background-color: $gray-shade;

	@include media-breakpoint-up(lg) {
		padding: 4rem 0 3rem;
	}

	div[class*='col'] {
		margin-bottom: 3rem;
	}

	img {
		display: block;
		margin: 0 auto;
	}

	h2 {
		margin: 2rem 0 1rem;
		@include font-size(32,42);
	}

	a {
		color: $font-color;
		position: relative;
		text-decoration: none;

		&::before {
			content: '';
			@include center-element(y);
			z-index: 0;
			left: -1rem;
			z-index: 0;					
			width: 29px;
			height: 22px;
			background-repeat: no-repeat;
			background-size: 29px 22px;
			background-image: url('../images/bg-top-nav-hover-egg.svg');			
		}

		span {
			position: relative;
			z-index: 1;
		}

		&:hover,
		&:focus {
			color: $brand-blue-dark;
		}

	}

}

.service-grid--home-intro {
	margin-bottom: 2rem;

	h4, p {
		margin: 0;
	}

}

.upcoming-soul-healing-section {
	padding: 5rem 0;
	background-color: $gray-shade;

	.row {
		position: relative;	
		margin-bottom: 4rem;

		@include media-breakpoint-up(lg) {

			&::after {
				content: '';
				position: absolute;
				z-index: 0;
				bottom: -1.05rem;
				right: -1.05rem;
				width: 100%;
				height: 100%;
				background-repeat: repeat;
				background-image: url('../images/bg-pattern-wave--orange.gif');
			}

		}

		div[class*='col'] {				
			position: relative;
			z-index: 1;

			@include media-breakpoint-up(lg) {
				background-color: $white;
			}

		}

	}

	.upcoming-soul-healing-section--image {

		@include media-breakpoint-down(md) {
			margin-bottom: 1rem;
		}

		@include media-breakpoint-up(lg) {
			padding-left: 0;
		}

	}

	.upcoming-soul-healing-section--content {

		@include media-breakpoint-up(lg) {
			padding-right: 0;
		}

	}

	.upcoming-soul-healing-section--content-inner {
		position: relative;
		overflow: hidden;
		height: 100%;
		padding-top: 1rem;

		@include media-breakpoint-down(md) {
			background-color: $white;
		}

			&::before {
				content: '';
				position: absolute;
				z-index: 1;
				bottom: -4rem;
				right: -2rem;
				width: 135px;
				height: 133px;
				background-size: 135px 133px;
				background-repeat: no-repeat;
				background-image: url('../images/accent-flower--teal.svg');				
			}		
	}

}

.about-content--home {
	padding: 3rem 0 2rem;

	@include media-breakpoint-up(lg) {
		padding: 5rem 0 4rem;
	}

	h4, p {
		color: $white;
	}

	h4 {
		margin-bottom: 1.5rem;

		@media screen and ( min-width: 1200px ) {
			margin-left: -3rem;
			padding-right: 2.5rem;
		}

	}

	.about-content--inner {

		@include media-breakpoint-up(lg) {
			padding: 0 5rem 0 1.5rem;
		}

	}

	.button {
		margin-top: 1rem;
	}

	.about-image {
		position: relative;
		padding-top: 2rem;

		@include media-breakpoint-down(md) {

			img {
				max-width: 70%;
			}

		}

		@include media-breakpoint-up(md) {
			&::before {
				content: '';
				position: absolute;
				z-index: 1;
				top: -3rem;
				right: 4rem;
				width: 135px;
				height: 133px;
				background-size: 135px 133px;
				background-repeat: no-repeat;
				background-image: url('../images/accent-flower--orange.svg');
			}
		}

	}

}