.link-book-appointment {
    position: absolute;
    z-index: 9;
    bottom: 3rem;  
    right: 3rem;
    width: 65px;
    height: 65px;   

    &.fixed {
    	position: fixed;
    	top: 6.25rem;
    }

    .page-template-default &,
    .page-template-template-sitemap & {
    	//top: 250px;
    }

    &::before {
    	content: 'Book Now!';
    	@include center-element(y);
    	right: -.2rem;
 		opacity: 0;
    	z-index: 2;
    	width: 105px;
    	font-weight: 700;
    	letter-spacing: .05rem;
    	@include font-size(12);
    	color: $font-color;
    	text-shadow: 0 0 5px $white;
    	@include transition(all .2s ease-out);
    	background-color: $white;
    	padding: 0 0 0 .5rem;
    }

    a {
    	position: relative;
    	z-index: 3;
		color: $white;
	    display: block;	
	    @include font-size(14);	    
	    width: 65px;
	    height: 65px;
	    padding: .5rem 0 0;
	    //line-height: 88px;  
	    border-radius: 100%;
	    text-align: center;
	    vertical-align: middle;
	    text-align: center;      
	    border: solid 2px $white; 
	    text-decoration: none;
	    @extend .background-gradient--orange;    
	    @include box-shadow(0, 0, 3px, 2px, rgba($black, .25)); 

	    img {
	    	width: 25px;
	    	height: 25px;
	    }

	    span {
	    	display: block;
	    	font-weight: 700;
	    	padding-top: .15rem;
	    	@include font-size(13);	    	
	    }

	}	

    &:hover,
    &:focus {

    	a {
    		color: $white;
    		box-shadow: none;
    		@extend .background-gradient--orange-invert;
    		@include box-shadow(0, 0, 3px, 2px, rgba($black, .15));
    	}

    	&::before {
    		right: 2.75rem;
    		opacity: 1;
    	}

    }

    @include media-breakpoint-down(md) {
    	width: 50px;
    	height: 50px;
    	right: 1.5rem;

    	a {
    		width: 50px;
    		height: 50px;
	    	padding: .6rem 0 0;    		

    		img {
    			width: 25px;
    			height: 25px;
    		}

    		span {
    			display: none;
    		}

    	}

    	&:hover,
    	&:focus {
	    	&::before {
	    		right: 40px;
	    	}    		
    	}

    }

}

.page-intro--page {
	padding: 2rem 0;
	position: relative;	
	background-color: $white;

	@include media-breakpoint-only(lg) {
		padding: 4rem 0;
	}

	@include media-breakpoint-up(xl) {
		padding: 8rem 0;
	}	

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: repeat;
		background-image: url('../images/bg-pattern-wave--orange.gif');

		.page-about & {
			background-image: url('../images/bg-pattern-wave--green.gif');
		}

		.page-practitioners & {
			background-image: url('../images/bg-pattern-wave--red.gif');
		}

		@include media-breakpoint-up(lg) {
			width: 50%;
		}

	}

	h1 {
		margin-bottom: 1rem;
		@include structured-title($white);

		@include media-breakpoint-up(lg) {
			//margin: 0;
		}

		span {

			&::before,
			&::after {
				.page-practitioners & {
					color: $white;
				}
			}

		}

	}

	.page-intro--page-content {

		@include media-breakpoint-only(lg) {
			padding-right: .5rem;
		}

		@include media-breakpoint-up(lg) {
			min-height: 184px;
		}

		@include media-breakpoint-up(xl) {
			padding-right: 3rem;
		}

	}

	.page-intro--page-image {
		
		img {
			border: solid 2px $white;
		}

		@include media-breakpoint-up(lg) {
			padding-right: 0;
			@include center-element(y);
			right: 0;

			img {
				max-height: 400px;
				border: none;
			}

		}

	}

}

.page-intro--page-secondary {
	padding: 2rem 0;
	border-top: solid 10px $brand-orange-light;	
	background-image: url('../images/bg-pattern-wave--white.gif');

	@include media-breakpoint-up(lg) {
		padding: 4rem 0;
	}

	h1 {
		@include structured-title($brand-blue-light);
		margin-bottom: 1rem;		
	}

	.page-intro--page-content {

		img {
			margin: 0 1rem 1rem 0;
		}

		@include media-breakpoint-only(lg) {
			padding-right: .5rem;
		}

		@include media-breakpoint-up(lg) {
			min-height: 184px;
		}

		@include media-breakpoint-up(xl) {
			padding-right: 3rem;
		}

	}

}

.main-content.no-intro {
	border-top: solid 10px $brand-orange-light;
}

.page-intro--page-plain {
	padding: 2rem 0;
	position: relative;	
	background-image: url('../images/bg-pattern-wave--white.gif');

	@include media-breakpoint-up(lg) {
		padding: 4rem 0;
	}

	.button {
		min-width: 175px;
	}

	.page-intro--page-plain--image {
		
		@include media-breakpoint-down(md) {
			padding-top: 4rem;
		}

		img { 
			max-width: 80%;
		}

	}

	&.tertiary {
		border-top: solid 10px $brand-orange-light;
	}

}

.page-content--container {
	overflow: hidden;
	position: relative;
	padding: 4rem 0 0;
	background-color: $gray-shade;
	box-shadow: 0 14px 15px 0px rgba($black,0.1) inset;
	-webkit-box-shadow: 0 14px 15px 0px rgba($black,0.1) inset;
	-moz-box-shadow: 0 14px 15px 0px rgba($black,0.1) inset;	

	&::before {
		content: '';
		position: absolute;
		top: -3rem;
		left: -3rem;
		z-index: 0;		
		width: 135px;
		height: 133px;
		background-size: 135px 133px;
		background-repeat: no-repeat;
		background-image: url('../images/accent-flower--orange.svg');
	}

	&::after {
		content: '';
		@include center-element(y);
		right: -3rem;		
		z-index: 0;
		width: 135px;
		height: 133px;
		background-size: 135px 133px;
		background-repeat: no-repeat;
		background-image: url('../images/accent-flower--red.svg');	

		@include media-breakpoint-down(md) {
			opacity: .25;
		}
			
	}

	@include media-breakpoint-up(lg) {
		padding: 6rem 0 2rem;
	}

	section {
		margin-bottom: 3rem;

		&.jump-link-intro-content,
		&.no-bottom-margin {
			margin-bottom: 0;
		}

	}

	section:last-of-type {
		margin-bottom: 0;
		position: relative;
		z-index: 1;

		&::before {
			content: '';
			position: absolute;
			bottom: -5rem;
			left: -8rem;		
			z-index: 0;
			width: 135px;
			height: 133px;
			background-size: 135px 133px;
			background-repeat: no-repeat;
			background-image: url('../images/accent-flower--teal.svg');		
		}		
	}

	// setup color borders on content images	
	img {

		.page-business-starter-kit &,
		.page-10-things-nobody-tells-you-about-starting-your-own-business & {
			border: solid 5px $brand-red;
		}

		.page-about & {
			border: solid 5px $brand-green;
		}

		.single-service &,
		.page-rates &,
		.page-template-template-for-clients-recordings & {
			border: solid 5px $brand-orange-light;
		}

	}

}

.page-content--container-plain {
	padding: 2rem 0;
	position: relative;
	overflow: hidden;;

	@include media-breakpoint-up(lg) {
		padding: 4rem 0;
	}

	&::before {
		content: '';
		position: absolute;
		top: -3rem;
		left: -3rem;
		z-index: 1;		
		width: 135px;
		height: 133px;
		background-size: 135px 133px;
		background-repeat: no-repeat;
		background-image: url('../images/accent-flower--orange.svg');
	}

	&::after {
		content: '';
		@include center-element(y);
		right: -3rem;		
		z-index: 1;
		width: 135px;
		height: 133px;
		background-size: 135px 133px;
		background-repeat: no-repeat;
		background-image: url('../images/accent-flower--red.svg');		
	}

}

.pagination-links {
	padding: 1rem 0;
	margin-top: 4rem;	
	background-color: $gray-shade;

	a {
		font-weight: 700;
		text-decoration: none;
		display: inline-block;
		margin: 0 .25rem;

		&:hover,
		&:active {
			color: $brand-red;
		}

	}

}