.practitioner--book-content {
	padding: 3rem 0;

	@include media-breakpoint-up(lg) {
		padding: 6rem 0;
	}

	.image-column {
		position: relative;

		@include media-breakpoint-down(md) {
			margin-top: 3rem;

			img {
				max-width: 80%;
			}

		}

		@include media-breakpoint-up(lg) {
			&::after{
				content: '';
				position: absolute;
				top: -2rem;
				right: -3rem;
				z-index: 1;		
				width: 160px;
				height: 158px;
				background-size: 160px 158px;
				background-repeat: no-repeat;
				background-image: url('../images/accent-flower--blue.svg');
			}
		}

	}

}

.practitioner--business-starter-kit {
	color: $white;
	padding: 3rem 0;

	box-shadow: 0 14px 15px 0px rgba($black,0.1) inset;
	-webkit-box-shadow: 0 14px 15px 0px rgba($black,0.1) inset;
	-moz-box-shadow: 0 14px 15px 0px rgba($black,0.1) inset;

	background-repeat: repeat;
	background-image: url('../images/bg-pattern-wave--red.gif');


	h4,
	h4 span::before,
	h4 span::after {
		color: $white;
	}

}

.practitioner--ten-things {
	padding: 3rem 0;

	@include media-breakpoint-up(lg) {
		padding: 6rem 0;
	}

	.image-column {
		position: relative;

		img {
			position: relative;
			z-index: 1;			
		}

		@include media-breakpoint-down(md) {
			margin-top: 3rem;

			img {
				max-width: 80%;
			}

		}

		@include media-breakpoint-up(lg) {
			&::after{
				content: '';
				position: absolute;
				top: 4rem;
				left: -3rem;
				z-index: 0;		
				width: 160px;
				height: 158px;
				background-size: 160px 158px;
				background-repeat: no-repeat;
				background-image: url('../images/accent-flower--teal.svg');
			}
		}

	}

}