.container--service-rows {
	padding: 6rem 0 0;

	.service-row {
		margin-bottom: 6rem;

		.button {
			margin-top: 2rem;
		}

		@include media-breakpoint-down(sm) {

			.service-row--image {
				padding-top: 4rem;		

				img {
					max-width: 70%;
				}

			}

		}

	}

	.service-row--1 .service-row--image {

		@include media-breakpoint-up(lg) {
			&::before {
				content: '';
				position: absolute;
				top: -2rem;
				left: -3.5rem;
				z-index: 1;
				width: 135px;
				height: 133px;
				background-size: 135px 133px;
				background-repeat: no-repeat;
				background-image: url('../images/accent-flower--teal.svg')
			}
		}

	}

}

.service-row--content {

	.button {
		margin: 2rem 1rem 0 0;
		min-width: 175px;
	}

}

.service-row--title {
	margin-bottom: 3rem;

	.single-service & {
		margin-bottom: 1rem;
	}

	h1,h4 {
		margin: 0;
		color: $font-color;
	}

}

.service-content--row {
	margin-bottom: 4rem;

	h4 {
		color: $font-color;
	}

	.button {
		margin: 2rem 0;
		display: table;
		margin: 0 auto;
	}

}