.soul-healing-event--intro {
	padding: 2rem 0;
	overflow: hidden;	
	position: relative;

	@include media-breakpoint-up(lg) {
		padding: 4rem 0;
	}

	.button {
		margin: 0 1rem;

		@include media-breakpoint-down(md) {
			margin: 1rem;
		}

	}

	&::before {
		content: '';
		@include center-element(y);
		left: -6rem;
		z-index: 1;		
		width: 250px;
		height: 246px;
		background-size: 250px 246px;
		background-repeat: no-repeat;
		background-image: url('../images/accent-flower--red.svg');
	}

	&::after {
		content: '';
		position: absolute;
		bottom: 1rem;
		right: -6rem;		
		z-index: 1;
		width: 250px;
		height: 246px;
		background-size: 250px 246px;
		background-repeat: no-repeat;
		background-image: url('../images/accent-flower--orange.svg');		
	}	

}

.soul-healing-event--image-col {

	img {
		max-width: 95%;
		position: relative;
		z-index: 1;
	}

	&::before {
		content: '';
		position: absolute;
		z-index: 0;
		bottom: -2rem;
		left: 0;
		width: 100%;
		height: 90%;
		background-repeat: repeat;
		background-image: url('../images/bg-pattern-wave--orange.gif');
	}

}

.soul-healing-event--content-col {
	margin: 6rem 0 3rem;

	h4 {
		margin-bottom: 3rem;
	}

}

.container--recordings-intro {
	padding: 2rem 0 0;
	overflow: hidden;	
	position: relative;

	@include media-breakpoint-up(lg) {
		padding: 4rem 0 0;
	}	
}

.container--recordings-rows {
	padding: 0 0 6rem;
	overflow: hidden;	
	position: relative;

	@include media-breakpoint-up(lg) {
		//padding: 4rem 0;
	}

	.recording-row {
		margin-top: 4rem;
	}

	h3 {
	    color: $brand-blue-light; 
	    font-weight: 400;
	    letter-spacing: .1rem;
	    @include font-size(36,46);			
		padding-left: 3rem;
		position: relative;
		margin-bottom: 1rem;	

	    &::before {
	        content: '~';
	        font-weight: 900;	        
	        color: $brand-red;
	        position: absolute;
	        left: 0;
	        top: .1rem;
	    }

	}

	.soul-healing-recording-info {
		&:hover,
		&:focus {
			cursor: pointer;
		}
	}

	.recording-row--content {
		width: 100%;
		padding: 3rem 0 0 3rem;
	}

	.recording-row--event-content {
		margin-bottom: 3rem;		
	}

}