body.login div#login h1 a {
	background-image: url('../../includes/images/logo-cfth-horizontal.svg');
	background-size: 320px 42px;
	background-position: center top;
	background-repeat: no-repeat;
	width: 320px;
	height: 42px;
}