// Base font size
html {
	font-size: 16px;
}

body {
	color: $font-color;
	font-family: $font-family-nunito;

	&.no-scroll {
		overflow: hidden;
	}

}

h1, h2, h3, h4, h5, h6 {
	color: $brand-blue-light;
	font-family: $font-family-halant;
}

h1 {
	margin: 0;
	font-weight: 400;
	@include font-size(40,50);
}

h2, h4 {
	@include structured-title;
}

a {
	color: $brand-orange-light;
	text-decoration: underline;

	&:hover,
	&:focus {
		color: $brand-orange-light;
		text-decoration: none;
	}

	&.link--solid {
		font-weight: 700;
		@include font-size(14);
		text-decoration: none;

		&:hover,
		&:focus {
			color: $brand-orange;
		}

	}

}

.button,
button:not(.navbar-toggler):not(.slick-arrow) {
	min-width: 195px;		
	border: none;	
	color: $white;
	font-weight: 700;
	text-align: center;	
	padding: .5rem 1rem;	
	display: inline-block;
	text-decoration: none;
	background-color: $brand-orange;

	&:hover,
	&:focus {
		color: $brand-primary;
		background-color: $brand-orange-light;
	}

	&.orange-light {
		color: $brand-primary;
		border: solid 1px transparent;
		background-color: $brand-orange-light;

		&:hover,
		&:focus {
			color: $white;
			border-color: $white;
			background-color: $brand-primary;
		}

	}

	&.white {
		color: $brand-red;
		border: solid 1px transparent;
		background-color: $white;

		&:hover,
		&:focus {
			color: $white;
			border-color: $white;
			background-color: $brand-primary;
		}

	}

	&.white-hover {

		&:hover,
		&:focus {			
			color: $brand-red;
			border-color: $white;
			background-color: $white;
		}

	}	

}

.background-gradient--orange {
	@include gradient($brand-orange-mid, $brand-primary, vertical);
}
.background-gradient--orange-invert {
	@include gradient($brand-primary, $brand-orange-mid, vertical);
}

.background-gradient--orange,
.background-gradient--orange-invert {
	h2, h4 {
		color: $white;
	}
}

.background-gradient--green {
	@include gradient($brand-green, $brand-green-dark, vertical);	
}

.background-green {
	background-color: $brand-green;	
}

.clickable {
	&:hover,
	&:active {
		cursor: pointer;
	}
}

.container {
	position: relative;
	z-index: 1;
}

.main-content {

	b,strong {
		color: $brand-orange-light;
	}

	ul:not(.nav-tabs):not(.related-posts-list) {
		padding: 0;
		list-style: none;

		li {
			padding-left: 2rem;
			margin-bottom: 1rem;			
			background-size: 14px 8px;
			background-repeat: no-repeat;			
			background-position: left 8px;
			background-image: url('../images/bg-top-nav-hover-egg.svg');
		}

		ul {
			list-style: disc;
			margin: 1.5rem 0;
			padding-left: 1rem;			

			li {
				background: none;
				padding-left: .5rem;				
			}

		}

	}

	ul.plain-list {

		li {
			padding-left: 0;
			margin-bottom: .5rem;
			background-image: none;
		}

	}

}

// Default WP theme styles - required
.screen-reader-text {
	position: absolute !important;
    left: -999em;

    &:focus {
    	left: 0;
    }

}

.alignleft {
	float: left;
	display: inline;
	margin-right: 20px;

	@include media-breakpoint-down(md) {
		float: none;
		display: block;
		margin: 0 auto 1rem;
	}

}

.alignright {
	float: right;
	display: inline;
	margin-left: 20px;

	@include media-breakpoint-down(md) {
		float: none;
		display: block;
		margin: 0 auto 1rem;
	}	

}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
}

.wp-caption {
	padding: .5rem;
}

.wp-caption-text {
	margin: 0;
	padding-top: .5rem;
	@include font-size(14);
}

.gallery-caption {
	padding-top: .5rem;
	@include font-size(14);	
}

.bypostauthor {
	padding-top: .5rem;
	@include font-size(14);
}